html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(49, 47, 47);
  color: #1db954;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h3 {
  width: 100%;
  /* background-color: rgb(32, 30, 30); */
  color: white;
  text-align: center;
  font-size: 20px;
}

h4 {
  color: white;
  text-align: center;
  font-size: 18px;
}

.long-album-name {
  font-size: 13px;
}

.album-box {
  /* background-color: rgb(32, 30, 30); */
  margin-top: 10px;
}

img {
  width: 220px;
  height: 220px;
  border-radius: 5px;
}

.navbar {
  width: 100%;
  margin: auto;
  padding-top: 30px;
}

.nav-item a {
  color: #1db954;
}

.nav {
  position: fixed;
  background-color: rgb(49, 47, 47);
  z-index: 1;
}

.album-box:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-5%);
}

.description-clicked {
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  color: white;
  text-align: left;
}

ol li {
  color: white;
  text-align: left;
}

.changeBg {
  background-color: rgb(49, 47, 47) !important;
  /* height: 100vh; */
}

.move-pic:hover {
  transform: translateY(-5%);
}

/* h1 {
  font-weight: bolder;
} */

/* .clicked-review {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
/* flex-wrap: wrap; */
/* margin-top: 70px; */
/* } */

/* .push-down {
  position: relative;
  top: 10px;
} */
